.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.image{
  display: block;
  height: 80px;
  width: 80px;
}


.inputWithButton {
  position: relative;
  height: 40px;
  width : 550px;
  align-items: center;
}

.inputWithButton input{
    padding-left: 20px;
    width: 87%;
    height: 34px;
    padding-right: 0px;
    align-items: center;
    vertical-align: baseline;
    text-align: left;
}

.inputWithButton button {
  position: absolute;
  right: 40px;
  top : 4px;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.buttonStyle {
  background-color: inherit;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  margin: 2px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  align-items: center;
}

.button_h {
  background-color: inherit;
  border: none;
  color: white;
  padding: auto 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 26px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button-group-vertical .button {
  text-align: start;
  background-color: #282c34; /* Green */
  border: 1px solid pink;
  color: white;
  height: 60px;
  width: 340px;
  padding-left: 20px;
  font-size: 18px;
  cursor: pointer;
  display: block;
  
}

.button-group-horizontal .button {
  background-color: #282c34;
  border: 1px solid pink;
  color: white;
  height: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  width: 25%;
}

.button-group-horizontal .button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.button-group-horizontal .button:focus  {
  background-color: #484848;
}

.button-aligned-as-flex{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  width: 400px;
  z-index: 4;
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
  background-color: #282c34;
  opacity: 1;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  padding: 8px 12px;
}

li:hover {
  background-color: rgba(0, 0, 0, 0.14);
  cursor: pointer;
}

.container_exp {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%);
  cursor: pointer;
  overflow: hidden;
  border-radius: 20px;
  width: 1200px;
  height: 140px;
  background: linear-gradient(to right bottom, #323941, #061018);
  color: white;
  transition: all 300ms ease-in-out;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.container_exp p {
  opacity: 0.6;
}

.container_exp h3 {
  font-weight: 600;
  font-size: 15px;
}

.upper {
  height: 140px;
  width: 100%;
  padding: 40px;
  background: linear-gradient(to right bottom, #2999f5, #1859d1);
}

.upper h3 svg {
  height: 16px;
  width: 16px;
  fill: white;
  margin-left: 10px;
  padding-top: 4px;
}

.lower {
  padding: 40px;
}

.lower h4 {
  margin-top: 40px;
  font-size: 14px;
  color: #2999f5;
}

.lower p:not(:first-child) {
  margin-top: 40px;
}

div.expand {
  height: 997px;
}