<!doctype html>
<!--  Authored by Cem Kaya & Baha Mert Ersoy -->

<head>
    <title>Under</title>
    <meta charset=utf-8>
    <style>
        table, th, td {
           border: 1px solid black;
        }
     </style>
</head>
<body>
{{data |safe }}

<form action="/buy_dlist/submit_test" method="POST">
    
    <label for="uid"> uid(email!) </label><br>
    <input type="text" min = "0" id="uid" name="uid" value="-1"><br><br>

    <label for="Pid">Pid </label><br>
    <input type="number" min = "0" id="Pid" name="Pid" value="-1"><br><br>
    
    <label for="purcid"> purcid </label><br>
    <input type="number" min = "0" id="purcid" name="purcid" value="-1"><br><br>
    
    <label for="quantity"> quantity </label><br>
    <input type="number" min = "0" id="quantity" name="quantity" value="-1"><br><br>

    <label for="did"> did </label><br>
    <input type="number" min = "0" id="did" name="did" value="-1"><br><br>

    
    <br><br>
        <button><a>Send</a></button><br>
</form>

</body>