<!doctype html>

<head>
    <title>Under</title>
    <meta charset=utf-8>
    <style>
        table, th, td {
           border: 1px solid black;
        }
     </style>
</head>
<body>
{{data |safe }}

<form action="/Comment_all_ssubmit/submit_test" method="POST">
    
    <label for="Pid">Pid </label><br>
    <input type="number" min = "0" id="Pid" name="Pid" value="-1"><br><br>

    <label for="email"> email </label><br>
    <input type="text" id="email" name="email" ><br><br>
    
    <label for="text"> text </label><br>
    <input type="text"  id="text" name="text" value="text"><br><br>

    <label for="stars"> stars </label><br>
    <input type="number"  id="text" name="stars" value="5"><br><br>


    <br><br>
        <button><a>Send</a></button><br>
</form>

</body>