<!doctype html>
<!--  Authored by Cem Kaya & Baha Mert Ersoy -->

<head>
    <title>login</title>
    <meta charset=utf-8>
</head>
<body>

<form action="/comment_reg/submit_test" method="POST">
    <label for="text">comment :</label><br>
    <input type="text" id="text" name="text" value="null"><br><br>

    <label for="stars">stars </label><br>
    <input type="number"  min="0" min="5" id="stars" name="stars" value = "-1"><br><br>    



    <br><br>
        <button><a>Send</a></button><br>
</form>

</body>