<!doctype html>
<!--  Authored by Cem Kaya & Baha Mert Ersoy -->

<head>
    <title>Under</title>
    <meta charset=utf-8>
    <style>
        table, th, td {
           border: 1px solid black;
        }
     </style>
</head>
<body>
{{data |safe }}

<form action="/deleted_products_pmid/submit_test" method="POST">
    
    <label for="Pmid"> Pmid </label><br>
    <input type="text"  id="Pmid" name="Pmid" value="-1"><br><br>



    <br><br>
        <button><a>Send</a></button><br>
</form>

</body>