<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    YOU FOUND A SECRET <a href="./super_secret_all_tables_panel">super_secret_all_tables_panel</a>  !<br> 
    THIS is index go to <a href="./all_books">all_books</a>  !<br> 
    or go to <a href="./all_salesmanagers">all_salesmanagers</a>  ! <br>    
    or go to <a href="./customer_info">customer_info</a>  ! <br>
    or go to <a href="./delete_product_category">delete_product_category</a>  ! <br>
    or go to <a href="./undelete_product_category">undelete_product_category</a>  ! <br>
    or go to <a href="./signup">signup</a>  ! <br>
    or go to <a href="./login">login</a>  ! <br> 
    or go to <a href="./login_productmanager">/login_productmanager </a> !<br>    
    or go to <a href="./login_salesmanager">/login_salesmanager </a> !<br>     
    or go to <a href="./Products_reg">register products</a>  !<br> 
    or go to <a href="./update_book">update_book</a>  ! <br>  
    or go to <a href="./delete_product">delete_product</a>  ! <br> 
    or go to <a href="./undelete_product">undelete_product</a>  ! <br>     
    or go to <a href="./purchased">purchased </a>  !<br>     
    or go to <a href="./purchased_update">purchased_update </a>  !<br>      
    or go to <a href="./Product_Catogary_reg">register Product_Catogary</a>  !<br> 
    or go to <a href="./comment_reg">comment_reg </a>  !<br> 
    or go to <a href="./Sales_manager_reg">Sales_manager_reg </a>  !<br> 
    or go to <a href="./Product_manager_reg">Product_manager_reg </a>  !<br> 
    or go to <a href="./Under">under </a>  !<br> 
    or go to <a href="./Wishes">Wishes </a>  !<br> 
    or go to <a href="./Wishes_get_all">get all wishes</a>  !<br> 
    or go to <a href="./Wishes_get_email">get all wishes email</a>  !<br> 
    or go to <a href="./Wishes_rm">Wishes_rm</a>  !<br>     
    or go to <a href="./Shopping_Cart">Shopping_Cart </a>  ! /get_shoping/submit_test     to see which products are in shopping cart <br> 
    or go to <a href="./Comments">Comments </a>  !   shell send to /Comment_all_/submit # /get_all_approved_comments/submit  for all books wiht a<br> 
    or go to <a href="./get_comments_for_approval">get_comments_for_approval </a>  ! <br> 
    or go to <a href="./Approval">Approval </a>  !<br> 
    or go to <a href="./Manages_category">Manages_category </a>  !<br> 
    or go to <a href="./Manages">Manages </a>  !<br> 
    or go to <a href="./Change_price">Change_price </a>  !<br> 
    or go to <a href="./buy_dlist">buy_dlist </a>  !<br> 
    or go to <a href="./refunds">refunds </a>  !<br> 
    or go to <a href="./refunds_get_all">refunds_get_all </a>  !<br>  
    or go to <a href="./refunds_get_sid">refunds_get_sid </a>  !<br>   
    or go to <a href="./refunds_get_uid">refunds_get_uid actually email bro </a>  !<br>      
    or go to <a href="./refunds_update">refunds_update </a>  !<br>     
    or go to <a href="./all_deletedproducts">all deleted products</a>  !<br>  
    or go to <a href="./all_books_ranged">all_books_ranged </a>  !<br> 
    or go to <a href="./all_category">all_category </a>  !<br>    
    or go to <a href="./all_books_category_ranged">all_books_category_ranged </a>  !<br>
    or go to <a href="./remove_from_cart">remove_from_cart </a>  !<br>
    or go to <a href="./to_purchase">to_purchase </a>  ! once next did diye bir fonk cagirip did i vermeniz lazim !<br>
    or go to <a href="./getnextdid">getnextdid </a>  !<br>
    or go to <a href="./bank">bank </a> !<br>
    or go to <a href="./delivery_process">delivery_process </a> !<br>
    or go to <a href="./get_all_approved_comments">get_all_approved_comments </a> !<br>
    or go to <a href="./get_ones_purch_hist/submit_test">get_ones_purch_hist/submit_test tabiki test olmicak? </a> !<br>    
    /decreasestock/submit to decrease stock post the pid !  /decreasestock/submit_test to test <br>
    or go to <a href="./get_all_approved_comments_no_input">/get_all_approved_comments_no_input </a> !<br> 
    or go to <a href="./get_all_purch_hist">/get_all_purch_hist </a> !<br>  
    or go to <a href="./products_pmid">/products_pmid </a> !<br>      
    or go to <a href="./products_sid">/products_sid </a> !<br>  
    or go to <a href="./pmid_deliverylist">pmid_deliverylist</a>  ! <br>  
    or go to <a href="./deleted_products_pmid">deleted_products_pmid</a>  ! <br>   
    or go to <a href="./sid_deliverylist">sid_deliverylist </a>  ! <br>   
    or go to <a href="./sid_deliverylist_date">sid_deliverylist_date </a>  ! <br>   
    or go to <a href="./sid_deliverylist_date_pdf">sid_deliverylist_date_pdf </a>  ! <br>   
    
</body>
</html>