<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    YOU FOUND A SECRET <a href="./super_secret_all_tables_panel">super_secret_all_tables_panel</a>  !<br> 
    THIS is index go to <a href="./all_books">all_books</a>  !<br> 
    or go to <a href="./signup">signup</a>  ! <br>
    or go to <a href="./login">login</a>  ! <br> 
    or go to <a href="./Products_reg">register products</a>  !<br> 
    or go to <a href="./purchased">purchased </a>  !<br>     
    or go to <a href="./Product_Catogary_reg">register Product_Catogary</a>  !<br> 
    or go to <a href="./comment_reg">comment_reg </a>  !<br> 
    or go to <a href="./Sales_manager_reg">Sales_manager_reg </a>  !<br> 
    or go to <a href="./Product_manager_reg">Product_manager_reg </a>  !<br> 
    or go to <a href="./Under">under </a>  !<br> 
    or go to <a href="./Wishes">Wishes </a>  !<br> 
    or go to <a href="./Shopping_Cart">Shopping_Cart </a>  !<br> 
    or go to <a href="./Comments">Comments </a>  !<br> 
    or go to <a href="./Approval">Approval </a>  !<br> 
    or go to <a href="./Manages_category">Manages_category </a>  !<br> 
    or go to <a href="./Manages">Manages </a>  !<br> 
    or go to <a href="./Change_price">Change_price </a>  !<br> 
    or go to <a href="./buy_dlist">buy_dlist </a>  !<br> 
    or go to <a href="./refunds">refunds </a>  !<br> 
    or go to <a href="./all_books_ranged">all_books_ranged </a>  !<br> 
    or go to <a href="./all_category">all_category </a>  !<br>    
    or go to <a href="./all_books_category_ranged">all_books_category_ranged </a>  !<br>
    or go to <a href="./remove_from_cart">remove_from_cart </a>  !<br>
    or go to <a href="./to_purchase">to_purchase </a>  !<br>
    or go to <a href="./getnextdid">getnextdid </a>  !<br>
    or go to <a href="./bank">bank </a> !<br>
    or go to <a href="./delivery_process">delivery_process </a> !<br>
</body>
</html>