<!doctype html>

<head>
    <title>login</title>
    <meta charset=utf-8>
</head>
<body>


<form action="/login_salesmanager/submit_test" method="POST" >
    
    <label for="name">name </label><br>
    <input type="text" id="name" name="name"><br><br>

    <label for="pass_hash">pass_hash </label><br>
    <input type="password" id="pass_hash" name="pass_hash"><br><br>
    
    <br><br>
        <button><a>Send</a></button><br>
</form>
<!-- You will not be able to see this text. 

  <form class="results" action="/signup/submit" method="POST">
    <p class="result-json-output"></p>
    <button><a>Send</a></button><br>
  </form>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="./templates/form-to-json.js"></script>
  <script src="./templates/script.js"></script>
  -->
</body>