<!doctype html>

<head>
    <title>login</title>
    <meta charset=utf-8>
</head>
<body>

<form action="/Products_reg/submit" method="POST">
    <label for="name">First & Last Name:</label><br>
    <input type="text" id="name" name="name"><br><br>

    <label for="model">model </label><br>
    <input type="text" id="model" name="model"><br><br>

    <label for="description">description </label><br>
    <input type="text" id="description" name="description"><br><br>

    <label for="edition_number">edition_number </label><br>
    <input type="number" id="edition_number" name="edition_number"><br><br>

    <label for="quantity">quantity </label><br>
    <input type="number" id="quantity" name="quantity"><br><br>

    <label for="price">price </label><br>
    <input type="number" id="price" name="price"><br><br>

    <label for="sale">sale </label><br>
    <input type="number" id="sale" name="sale"><br><br>

    <label for="warranty">warranty </label><br>
    <input type="text" id="warranty" name="warranty"><br><br>

    <label for="distributor_Information">distributor_Information </label><br>
    <input type="text" id="distributor_Information" name="distributor_Information"><br><br>


    <br><br>
        <button><a>Send</a></button><br>
</form>

</body>