<!doctype html>

<head>
    <title>login</title>
    <meta charset=utf-8>
</head>
<body>

<form action="/Products_reg/submit" method="POST">
    <label for="name">First & Last Name:</label><br>
    <input type="text" id="name" name="name" value="null"><br><br>

    <label for="model">model </label><br>
    <input type="text" id="model" name="model" value = null><br><br>

    <label for="description">description </label><br>
    <input type="text" id="description" name="description" value = null><br><br>

    <label for="edition_number">edition_number </label><br>
    <input type="number" min = "0" id="edition_number" name="edition_number" value = "-1"><br><br>

    <label for="quantity">quantity </label><br>
    <input type="number"  min="0" id="quantity" name="quantity" value = "-1"><br><br>

    <label for="amount_sold">amount_sold </label><br>
    <input type="number"  min="0" id="amount_sold" name="amount_sold" value = "-1"><br><br>    

    <label for="price">price </label><br>
    <input type="number" step="0.01" min="0" id="price" name="price" value = "-1"><br><br>

    <label for="raiting">raiting </label><br>
    <input type="number"  min="0" id="raiting" name="raiting" value = "-1"><br><br>    

    <label for="sale">sale </label><br>
    <input type="number" step="0.01" min="0" max="1" id="sale" name="sale" value = "-1" ><br><br>

    <label for="author">author </label><br>
    <input type="text" id="author" name="author" value = "null"><br><br>

    <label for="warranty">warranty </label><br>
    <input type="text" id="warranty" name="warranty" value = "null"><br><br>

    <label for="distributor_Information">distributor_Information </label><br>
    <input type="text" id="distributor_Information" name="distributor_Information" value= "null"><br><br>

    <label for="picture_url0"> picture_url0 </label><br>
    <input type="text" id="picture_url0" name="picture_url0" value= "https://img.docbao.vn/2019/11/27/404-error.jpg"><br><br>

    <label for="picture_url1"> picture_url1 </label><br>
    <input  type="text" id="picture_url1" name="picture_url1" value= "https://img.docbao.vn/2019/11/27/404-error.jpg" ><br><br>

    <label for="picture_url2"> picture_url2 </label><br>
    <input type="text" id="picture_url2" name="picture_url2"  value= "https://img.docbao.vn/2019/11/27/404-error.jpg" ><br><br>



    <br><br>
        <button><a>Send</a></button><br>
</form>

</body>