<!doctype html>

<head>
    <title>Under</title>
    <meta charset=utf-8>
    <style>
        table, th, td {
           border: 1px solid black;
        }
     </style>
</head>
<body>
{{data |safe }}

<form action="/Shopping_Cart/submit" method="POST">
    
    <label for="Pid">Pid </label><br>
    <input type="number" min = "0" id="Pid" name="Pid" value="-1"><br><br>

    <label for="email"> email </label><br>
    <input type="text" id="email" name="email" ><br><br>
    
    <label for="quantity"> quantity </label><br>
    <input type="number" min = "0" id="quantity" name="quantity" value="-1"><br><br>


    <br><br>
        <button><a>Send</a></button><br>
</form>

</body>