<!doctype html>

<head>
    <title>Under</title>
    <meta charset=utf-8>
    <style>
        table, th, td {
           border: 1px solid black;
        }
     </style>
</head>
<body>
{{data |safe }}

<form action="/sid_deliverylist_date/submit_test" method="POST">
    


    <label for="Sid">Sid </label><br>
    <input type="number" min = "0" id="Sid" name="Sid" value="-1"><br><br>
    
    <label for="start_date">start_date </label><br>
    <input type="date" min = "0" id="start_date" name="start_date" value="-1"><br><br>

    <label for="end_date">end_date </label><br>
    <input type="date" min = "0" id="end_date" name="end_date" value="-1"><br><br>

    
    <br><br>
        <button><a>Send</a></button><br>
</form>

</body>