<!doctype html>

<head>
    <title>login</title>
    <meta charset=utf-8>
</head>
<body>

<form action="/signup/submit_test" method="POST">
    <label for="name">First & Last Name:</label><br>
    <input type="text" id="name" name="name"><br><br>

    <label for="email">email </label><br>
    <input type="text" id="email" name="email"><br><br>

    <label for="pass_hash">pass_hash </label><br>
    <input type="password" id="pass_hash" name="pass_hash"><br><br>

    <label for="homeadress">homeadress </label><br>
    <input type="text" id="homeadress" name="homeadress"><br><br>

    <label for="tax_id">tax_id </label><br>
    <input type="text" id="tax_id" name="tax_id"><br><br>    


    
    <br><br>
        <button><a>Send</a></button><br>
</form>

</body>