<!doctype html>

<head>
    <title>Under</title>
    <meta charset=utf-8>
    <style>
        table, th, td {
           border: 1px solid black;
        }
     </style>
</head>
<body>
{{data |safe }}

<form action="/to_purchase/submit_test" method="POST">
    
    <label for="email"> email </label><br>
    <input type="text"  id="email" name="email" value="-1"><br><br>

    <label for="Pid"> Pid </label><br>
    <input type="number" min = "0" id="Pid" name="Pid" value="-1" ><br><br>

    <label for="quantity"> quantity </label><br>
    <input type="number" min = "0" id="quantity" name="quantity" value="-1" ><br><br>

    <label for="price"> price </label><br>
    <input type="number" min = "0" id="price" name="price" value="-1" ><br><br>

    <label for="sale"> sale </label><br>
    <input type="number" step="0.01" min = "0" id="sale" name="sale" value="-1" ><br><br>

    <label for="did"> did </label><br>
    <input type="number" min = "0" id="did" name="did" value="-1" ><br><br>


    <br><br>
        <button><a>Send</a></button><br>
</form>

</body>